<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.2" targetFramework="net461" />
  <package id="HtmlRenderer.Core" version="1.5.1-beta1" targetFramework="net461" />
  <package id="HtmlRenderer.PdfSharp" version="1.5.1-beta1" targetFramework="net461" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net461" />
</packages>